body {
  margin: 0;
  background-color: saddlebrown;
  padding: 0;
}

img {
  width: 50%;
  height: auto;
}

.grid-container {
  background-color: rgba(240, 258, 255, 0.507);
  border-style: dotted;
  border-width: 1em;
  border-color: antiquewhite;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
  padding: 4em;
h1 {
  color: white;
}